*{
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
}

#header .container{
    border-radius: 5px;
}

#header .nav-link{
    font-size: 20px;
    font-family: 'Outfit', sans-serif;
}

.navbar-nav{
   margin-left: 30%;
}
.user{
    padding-right: 10px;
}
.menu{
    color: #fff;
    margin-top: 7%;
    margin-left: 5%;
    
}
#hero-sec{
    color: #fff;
    width: 100%;
    height: 100vh;
    background-image: url(../img/Home_banner_gb.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#hero-sec h1{
    font-size: 65px;
}
#hero-sec p{
    font-size: 20px;
}

#hero-sec .btn.btn-light{
    color: #ed1f24;
}

.section-title{
    font-size: 45px;
}
.sub-title{
    font-size: 18px;
}

#mene.btn-light{
    border: 2px solid black;
}
#mene .owl-dots {
    display: none;
}

button.owl-prev {
    position: absolute;
    left: 0;
    top: 50%;
}

button.owl-next {
    position: absolute;
    right: 0;
    top: 50%;
}
button.owl-prev span,button.owl-next span{
    padding: 5px 14px !important;
    background: #fff;
    border: 1px solid !important;
    border-radius: 16px;
    display: flex;
    align-items: center;
    align-content: center;
    color: #000;
}
#mene .owl-carousel p{
    font-size: 12px;
}
.bike-name{
    font-size: 12px;
    margin-bottom: 0;
}
.owl-carousel h6{
    font-size: 14px;
    font-weight: bold;
}

#milestones{
    background-image: url(../img/Our\ Milestones\ bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#milestones .box {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-color: #ed2024b0;
    border-radius: 50%;
    padding: 10px;
}

#milestones .inner-box {
    background-color: #ed2024;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
#milestones .inner-box h1{
    font-size: 55px;
}
#milestones .inner-box p{
    font-size: 20px;
}
#whyus{
    margin-top: 3%;
}
#whyus h6{
    font-size: 20px;
}
#whyus p{
    font-size: 14px;
}
#whyus .d-flex.p-2.bg-danger {
    border-radius: 7px;
    justify-content: center;
}
#bsiness{
    background-color: #c7bbbb;
}
#bsiness .box{
    color: #fff;
    border-radius: 15px;
}

#bsiness .box .col-md-8{
    border-radius: 15px;
}
#bsiness .box .inner-box{
    padding: 110px;
}
#bsiness .box h6{
    font-size: 28px;
}
#bsiness .box p{
    font-size: 18px;
}
#bsiness .box a{
    font-size: 18px;
    background-color: #fff;
    color: #ed1f24;
}
#bsiness .box .delivery-boy{
    max-width: 150%;
    margin-left: -164px;
}
#locations{
    background-image: url(../img/Locations\ we\ are\ Present\ bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.locations{
    border-bottom: 1px solid;
    display: flex;
    align-items: flex-end;
    margin-bottom: 14px;
    padding-bottom: 5px;
}
.locations p{
    font-size: 14px;
    margin-bottom: 5px;
}
.locations img{
    width: 80px;
}
#rider{
    width: 100%;
    height: auto;
    background-image: url(../img/Rider\ Testimonial\ bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding-top: 3%;
    padding-bottom: 3%;
  
}
#rider .box {
    padding: 50px;
    background-color: #d5cdcd59;
    border-radius: 15px;
}

#rider .box p {
    font-size: 22px;
}

#rider .box i.fa.fa-quote-right {
    font-size: 60px;
    color: #ed1f24;
}

#rider .box h6 {
    font-size: 28px;
    font-weight: bold;
}

#rider .box p.des {
    font-size: 18px;
}
#client{
    width: 100%;
    height: auto;
    background-color: #e9e6e6;
    padding: 3%;
}
#client p{
    font-size: 18px;
}
#client h6{
    font-size: 26px;
}
#client .des{
    font-size: 16px;
    margin-bottom: 0;
    color: #0000009e;
    font-weight: 100;
}
#comp img {
    height: 125px;
}
#electric {
    background-color: #e3dfdf;
}

#electric h1 {
    font-size: 45px;
}

#electric button.btn.btn-danger.my-2 {
    font-size: 12px;
}

#electric .second-img{
    position: absolute;
    top: 262px;
    left: 225px;
}
#legal{
    width: 100%;
    height: auto;
    background-image:url(../img/Footer.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 3%;
    padding-bottom: 3%;
    color: #fff;
}
#legal h6{
    font-size: 20px;
    margin-bottom: 25px;
}
#legal p{
    font-size: 18px;
}
footer{
    color: #fff;
   padding-top: 1%;
   padding-bottom: 1%;

}
@media only section and(max-width: 350px){
    .navbar{
        padding: 0;
    }
    .nav-link{
        flex-direction: column;
        height: 100vh;
        width: 100%;
    }
}
.container-fluid{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
}
.social-media a {
    padding: 0 5px;
}


@media(max-width:767px){
    #electric .first-img{
        max-width: 80%;
    }
    #electric .first-img{
        padding: 10px 0 !important;
    }
    #electric .second-img {
        /* top: 91px; */
        /* left: 25px; */
        max-width: 80%;
        position: relative;
        top: 0;
        left: 0;
        margin-left: 50px;
        margin-top: -100px;
    }
    #bsiness .box .delivery-boy{
        max-width: 100%;
        margin:0;
        margin-top: -55px;
    }
    #bsiness .box{
        padding: 15px;
    }
    #legal{
        /* padding-left: 75px; */
    }
    #bsiness .box .inner-box {
        padding: 15px 0;
    }
    #hero-sec{
        color: #fff;
        width: 100%;
        
        background-image: url(../img/Home_banner_gb.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 64vh;
    }
    
    #hero-sec h1{
        font-size: 36px;
        margin-top: 25%;
    }
    #hero-sec p{
        font-size: 20px;
    }
    
    #hero-sec .btn.btn-light{
        color: #ed1f24;
    }
    
    
}
@media(max-width: 768px) {
    .nav-item{
      text-align: center!important;
    }
  }
  .change_contnt:after{
      content: '';
      animation: changetext 4s infinite linear;
     

    }


     